<section class="new-lesson">
  <h1>Create a new lesson</h1>

  <form class="lesson-option" action="index.html" method="post">
    <fieldset>
      <select class="option-filter" name="option-filter">
        <option value="quote">Quote</option>
        <option value="code">Code</option>
        <option value="picture">Picture</option>
        <option value="tip">Tip</option>
        <option value="program">Program</option>
        <option value="achievement">Achievement</option>
      </select>

      <input type="submit" name="submit" value="Choose">
    </fieldset>
  </form>

  <form class="lesson-input" action="index.html" method="post">
    <fieldset>
      <label for="content-quote">Type your Quote</label>
      <input type="text" id="content-quote" name="content-quote">

      <label for="content-code">Type your Code</label>
      <input type="text" id="content-code" name="content-code">

      <label for="content-picture">Choose your Picture</label>
      <input type="text" id="content-picture" name="content-picture">

      <label for="content-top">Type your Tip</label>
      <input type="text" id="content-top" name="content-top">

      <label for="content-program">What's the Program</label>
      <input type="text" id="content-program" name="content-program">

      <label for="content-achievement">What's your Achievement</label>
      <input type="text" id="content-achievement" name="content-achievement">

      <input type="submit" name="send" value="Send">
    </fieldset>
  </form>
</section>
